* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  background-color: rgb(24, 24, 24);
}

#app {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a:not(button a),
.green {
  text-decoration: none;
  color: rgb(184, 0, 0);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 100%, 36%, 0.2);
    border-radius: 8px;
    padding: 0;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

h1,
h2 {
  color: rgb(184, 0, 0);
}

#livre-card {
  border-radius: 3%;
}

a {
  color: white;
  text-decoration: none;
}

button {
  background-color: hsla(0, 100%, 36%, 0.2);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 3%;
}

button:hover {
  background-color: rgb(184, 0, 0);
}

#navBar {
  background-color: rgb(36, 36, 36);
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(184, 0, 0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.livres-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  justify-items: start;
}

p,
footer {
  color: rgb(184, 0, 0);
  justify-items: center;
}

.fixed-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  background-color: rgb(24, 24, 24);
}
